@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode styles */
.dark body {
  @apply bg-black;
}


@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

/* Placeholder styles with primary color */
.ProseMirror .is-editor-empty:first-child::before,
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  /* Consider using your secondary color here */
  pointer-events: none;
  height: 0;
  -webkit-user-select: none;
  user-select: none;
}

/* Custom image styles with primary color for outline */
.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #10b981;
    /* Primary color for image outline */
    filter: brightness(90%);
  }
}

/* Custom TODO list checkboxes with primary and secondary colors */
ul[data-type="taskList"] li>label {
  margin-right: 0.2rem;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li>label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li>label input[type="checkbox"] {
  @apply appearance-none bg-white cursor-pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 5px;
  border: 2px solid #10b981;
  /* Primary color for checkbox border */
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &:hover {
    background-color: #f8f9fa;
    /* Lighter shade for hover, consider secondary color */
  }

  &:active {
    background-color: #e9ecef;
    /* Even lighter shade for active, adjust as needed */
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--tw-shadow-color);
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    --tw-shadow-color: #a7f3d0;
    /* Secondary color for checkbox check */
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"]>div>p {
  color: #a8a29e;
  /* Muted color for checked tasks, adjust as needed */
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}